.th-hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
  position: relative;
  color: #f7f6f0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.hero-box {
  background-color: rgba(247, 246, 240, 0.9);
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  text-align: left;
  z-index: 2;
}

.hero-image img {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 10px;
}

.ripple-shape {
  position: relative;
  z-index: 1;
}

.hero-subtitle,
.hero-title,
.hero-text {
  margin: 10px 0;
}

.btn-group {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.call-btn {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.call-btn .media-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
